@model Crimescape.Models.ExcelDataViewModel

@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>

<fieldset>
    <legend>ExcelDataViewModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
